{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="tour">

        {% include 'tours/elements/tour_header.html' %}

        {% include 'tours/elements/tour_upper.html' %}

        {% include 'tours/elements/tour_content.html' %}

        {% include 'tours/elements/tour_recommendation.html' %}

        {% include 'tours/elements/tour_popup.html' %}

    </div>


{% endblock %}

{% block menu %} {% endblock %}

{% block one_page_scripts %}
    <script src="{% static 'scripts/tour/gallery.js' %}"></script>
    <script src="{% static 'scripts/tour/sidebar.js' %}"></script>
    <script src="{% static 'scripts/tour/tour_show_text.js' %}"></script>
    <script src="{% static 'scripts/tour/popups.js' %}"></script>
    <script src="{% static 'scripts/tour/copy.js' %}"></script>
    <script src="{% static 'scripts/tour/see_more_comments.js' %}"></script>
    <script src="{% static 'scripts/tour/see_more_tours.js' %}"></script>
{% endblock %}