{% extends 'base/../base/base.html' %}
{% load static %}

{% block content %}
    <div class="tour_head">
        <div class="tour_head_bread_crumbs">
            <a href="/">к другим экскурсиям</a>
        </div>
        <div class="tour_head_like">
            <img src="{% static 'img/like-active.png' %}" alt="">
        </div>
    </div>

    <div class="tour_box">
        <div class="tour_main">
            <div class="tour_block">
                <div class="tour_title">
                    <h1 class="tour_title_text">{{ tour.title }}</h1>
                    <div class="tour_title_stars">
                        <div class="tour_title_stars_text">4 отзыва</div>
                    </div>
                </div>

                <div class="tour_gallery">
                    <div class="tour_gallery_main">
                        <img src="{{ tour.image.url }}" id="main_photo" alt="">
                        <div class="tour_gallery_main_button" id="prev">
                            <img src="{% static 'img/left.png' %}" alt="">
                        </div>
                        <div class="tour_gallery_main_button" id="next">
                            <img src="{% static 'img/right.png' %}" alt="">
                        </div>
                    </div>
                    <div class="tour_gallery_list_wrapper">
                        <div class="tour_gallery_list">
                            <div class="tour_gallery_list_item tour_gallery_list_item_current">
                                <img src="{{ tour.image.url }}" alt="">
                                <div class="cyan"></div>
                            </div>

                            {% for image_item in image_items %}
                            <div class="tour_gallery_list_item">
                                <img src="{{ image_item.image.url }}" alt="">
                                <div class="cyan"></div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tour_calculate none">
                Ещё непродуманный калькулятор
            </div>

            <div class="tour_block">
                <div class="tour_descriptions">
                    <div class="tour_description">
                        <h2 class="tour_description_title">Описание экскурсии</h2>
                        <div class="tour_description_text">
                            {% autoescape off %} {{ tour.description }} {% endautoescape %}

                        </div>
                    </div>
                    <div class="tour_includes">
                        <h2>Включено</h2>
                        <ul>
                            <li>Трансфер в радиусе 5 км</li>
                            <li>Услуги гида</li>
                            <li>Доступ к беседкам</li>
                        </ul>

                        <h2>Не включено</h2>
                        <ul>
                            <li>Трансфер назад</li>
                            <li>Безопасность</li>
                            <li>Что не трахнут</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="tour_node tour_block">
                <h2>Обратите внимание</h2>
                <div>
                    <p>На эту экскурсию не всегда есть свободные места на сегодня / завтра. Вы можете узнать о наличии свободных мест,  воспользовавшись функцией запроса мест</p>
                    <p>Или  позвонить  +7( 918) 009 80 48</p>
                </div>
            </div>

            <div class="tour_comments tour_block">
                <h2>Отзывы</h2>
                <div class="tour_comment">
                    <div class="tour_comment_head">
                        <div class="tour_comment_photo">
                            <img src="{% static 'img/comment.png' %}" alt="">
                        </div>
                        <div class="tour_comment_middle">
                            <div class="tour_comment_name">Анатолия</div>
                            <div class="tour_comment_date">02.06.2020</div>
                        </div>
                        <div class="tour_comment_stars">
                        </div>
                    </div>
                    <div class="tour_comment_text">
                        Нихуёво покатались потеряли сына в лесу, рекомендую.Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке существенных финансовых и административных условий.
                    </div>
                </div>
                <div class="tour_comment">
                    <div class="tour_comment_head">
                        <div class="tour_comment_photo">
                            <img src="{% static 'img/comment.png' %}" alt="">
                        </div>
                        <div class="tour_comment_middle">
                            <div class="tour_comment_name">Анатолия</div>
                            <div class="tour_comment_date">02.06.2020</div>
                        </div>
                        <div class="tour_comment_stars">
                        </div>
                    </div>
                    <div class="tour_comment_text">
                        Нихуёво покатались потеряли сына в лесу, рекомендую
                    </div>
                </div>
            </div>

            <div class="tour_booking none">

            </div>

            <div class="tour_add_list">

            </div>
        </div>

        <div class="tour_sidebar">
            <div class="tour_sidebar_information tour_sidebar_block">
                <h3>Основная информация</h3>
                <table>
                    <tr>
                        <td class="tour_sidebar_information_first">Формат</td>
                        <td class="tour_sidebar_information_second">Групповая</td>
                    </tr>
                    <tr>
                        <td class="tour_sidebar_information_first">Длительность</td>
                        <td class="tour_sidebar_information_second">1 час 40 минут</td>
                    </tr>
                    <tr>
                        <td class="tour_sidebar_information_first">Дети</td>
                        <td class="tour_sidebar_information_second">Можно с детьми</td>
                    </tr>
                    <tr>
                        <td class="tour_sidebar_information_first">Трансфер</td>
                        <td class="tour_sidebar_information_second">Есть</td>
                    </tr>
                    <tr>
                        <td class="tour_sidebar_information_first">Стоимость</td>
                        <td class="tour_sidebar_information_second">От 2000 рублей</td>
                    </tr>
                </table>
            </div>
            <div class="tour_sidebar_calculate tour_sidebar_block" id="sidebar_calculate">
                <h2>Расчёт стоимости</h2>
                <form action="" class="tour_sidebar_calculate_form">
                    <select class="tour_sidebar_calculate_form_select">
                        <option value="v1" selected>Двухчасовая</option>
                        <option value="v2">Трехчасовая</option>
                    </select>

                    <select class="tour_sidebar_calculate_form_select">
                        <option value="v1" selected>1 взрослый</option>
                        <option value="v2">2 взрослых</option>
                    </select>

                    <select class="tour_sidebar_calculate_form_select">
                        <option value="v1" selected>Без детей</option>
                        <option value="v2">1 ребёнок</option>
                    </select>

                    <div class="tour_sidebar_calculate_total">
                        <span class="tour_sidebar_calculate_number">1500</span> ₽ итого
                    </div>

                    <button class="tour_sidebar_calculate_button">
                        Перейти к брони
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="tour_booking">
        <button class="tour_booking_button">
            Перейти к брони
        </button>
    </div>

    <div class="tour_recommended">
        <div class="tour_recommended_item">
            {% include 'tours/../map/elements/../city/elements/tour_preview.html' %}
        </div>

        <div class="tour_recommended_item">
            {% include 'tours/../map/elements/../city/elements/tour_preview.html' %}
        </div>

        <div class="tour_recommended_item">
            {% include 'tours/../map/elements/../city/elements/tour_preview.html' %}
        </div>

        <div class="tour_recommended_item">
            {% include 'tours/../map/elements/../city/elements/tour_preview.html' %}
        </div>

        <div class="tour_recommended_item">
            {% include 'tours/../map/elements/../city/elements/tour_preview.html' %}
        </div>

        <div class="tour_recommended_item">
            {% include 'tours/../map/elements/../city/elements/tour_preview.html' %}
        </div>
    </div>

{% endblock %}

{% block one_page_scripts %}
    <script src="{% static 'scripts/gallery.js' %}"></script>
    <script src="{% static 'scripts/sidebar.js' %}"></script>
{% endblock %}