{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    {% include 'filter/elements/filter_header.html' %}
    {% include 'filter/elements/filter_prices.html' %}
    {% include 'filter/elements/filter_categories.html' %}
    {% include 'filter/elements/filter_tours.html' %}
    {% include 'filter/elements/filter_footer.html' %}
{% endblock %}

{% block menu %}
    {% include 'filter/elements/filter_menu.html' %}
{% endblock %}

{% block footer %}{% endblock %}

{% block one_page_scripts %}
    <script
  src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"
  integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI="
  crossorigin="anonymous"></script>
    <script src="{% static 'scripts/filter/filters.js' %}"></script>
{% endblock %}

