<nav class="menu">
    <div class="menu_button">
    </div>
    <div class="menu_logo">
        <h2 class="logo">TOUR4</h2>
    </div>
    <div class="menu_items">
        <a class="menu_item">
            <div class="menu_link" href="#">Экскурсии</div>
        </a>
        <div class="menu_item">
            <a class="menu_link" href="#">Карта экскурсий</a>
        </div>
        <div class="menu_item">
            <a class="menu_link" href="#">Статьи</a>
        </div>
        <div class="menu_item">
            <a class="menu_link" href="#">Горячая линия</a>
        </div>

        <div class="menu_item">
            <a class="menu_link" href="#">Разместить экскурсию</a>
        </div>
    </div>
</nav>