<div class="booking_done">
    <div class="booking_sidebar_mobile">
        {% include 'booking/elements/booking_data.html' %}
    </div>

    <div class="standard_text_strong">Предоплата - <span class="prepay_count">0</span> руб.</div>
    <form>{% csrf_token %}</form>
        <button id="booking_button"
                class="standard_button standard_button_blue"
                data-prepay="{{ tour.prepay }}"
                data-slug="{{ tour.slug }}">
            {% if tour.prepay > 0 %}
                Оплатить онлайн
            {% else %}
                Забронировать
            {% endif %}
        </button>

    <div class="standard_text_gray">
        После завершения брони мы позвоним вам для ее подтверждения и уточнения места встречи
    </div>
</div>