<h2 class="standard_h2">Итого</h2>
<table>
    <tr>
        <td>Дата:</td>
        <td class="booking-date">...</td>
    </tr>
    <tr>
        <td>Начало:</td>
        <td class="booking-time">04:00</td>
    </tr>
    <tr>
        <td>Тариф:</td>
        <td>Двухчасовая</td>
    </tr>
    <tr>
        <td>Группа:</td>
        <td>5 человек</td>
    </tr>
    <tr>
        <td>Стоимость:</td>
        <td>4300 руб</td>
    </tr>
    <tr>
        <td>Предоплата:</td>
        <td>430 руб</td>
    </tr>
</table>