<div class="booking_start standard_underline">
    <h2 class="standard_h2">Начало экскурсии</h2>

    <div class="booking_start_dropdown">
        <div class="standard_dropdown">
            <input type="hidden">
            <div class="standard_dropdown_wrap">
                <div class="standard_dropdown_choice standard_text_strong" id="dropdown_time">
                    {{ tour.start_list.0  }}
                </div>
                <div class="standard_dropdown_list none" id="dropdown_time_list">
                    {% for item in tour.start_list %}
                        <div class="standard_dropdown_list_item" id="time_{{ forloop.counter0 }}"
                             data-choice_id="dropdown_time">
                           {{ item }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>