<h2 class="standard_h2">Итого</h2>
<table>
    <tr>
        <td>Дата:</td>
        <td class="booking-date">...</td>
    </tr>
    <tr>
        <td>Начало:</td>
        <td class="booking-time">{{ tour.start_list.0 }}</td>
    </tr>
    {% for key, value in prices.items  %}
    <tr>
        <td>{{ value.0.variable.name }}</td>
        <td class="booking-{{ key }}">{{value.0.name}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>Стоимость:</td>
        <td><span class="calculate_price">4300</span> ₽</td>
    </tr>
    <tr>
        <td>Предоплата:</td>
        <td><span class="calculate_prepay">0</span> ₽</td>
    </tr>
</table>


