<div class="booking_transfer">
    <h2 class="standard_h2">Трансфер</h2>
    <div class="booking_transfer_choice">
        <label for="transfer_yes">
            <input type="checkbox" name="transfer_yes" value="Тансфер есть">
            Нужен
        </label>
        <label for="transfer_not">
            <input type="checkbox" name="transfer_not" value="Тансфер есть">
            Не нужен
        </label>
    </div>

    <div class="booking_transfer_map_container">
        <div class="booking_transfer_map" id="booking_map"></div>
    </div>

</div>