<div class="booking_transfer">
    <h2 class="standard_h2">Трансфер</h2>
    {% if tour.transfer == "yn"  %} {% endif %}
        <div class="booking_transfer_choice">
            <label for="transfer_yes">
                <input type="checkbox" name="transfer_yes" value="Тансфер есть">
                Нужен
            </label>
            <label for="transfer_not">
                <input type="checkbox" name="transfer_not" value="Тансфер есть">
                Не нужен
            </label>
        </div>

    <div class="booking_transfer_map_container">
        <div class="booking_transfer_map" id="booking_map" data-transfer="{{ tour.transfer }}"
             data-points="">
        </div>
        <div class="points">
            {% for item in tour.positions.all %}
                <div class="point none" data-x="{{ item.lat }}" data-y="{{ item.lon }}" data-title="{{ item.name }}"></div>
            {% endfor  %}
        </div>
    </div>


</div>