<h2 class="standard_h2">Итого</h2>
<table class="booking_table">
    <tr>
        <td>Дата:</td>
        <td class="booking-date">...</td>
    </tr>
    <tr>
        <td>Начало:</td>
        <td class="booking-time">{{ tour.start_list.0 }}</td>
    </tr>
    {% for key, value in prices.items  %}
    <tr>
        <td>{{ value.0.variable.name }}</td>
        <td class="booking-{{ key }}">{{value.0.name}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>Стоимость:</td>
        <td><span class="calculate_price" data-prepay="{{ tour.prepay_percent }}">4300</span> ₽</td>
    </tr>
    <tr class="booking_table_prepay">
        <td>Предоплата:</td>
        <td><span class="prepay_count">0</span> ₽</td>
    </tr>
</table>
{% if tour.prepay %}
    <div class="standard_text_gray">
        Бесплатная отмена брони за сутки до начала экскурсии.
    </div>
    {% else %}
    <div class="standard_text_gray">
        Предоплата не нужна - мы Вам доверяем
    </div>
{% endif %}


