{% load static %}

<div class="footer {% if not_empty == True %}not-empty{% endif %}">
    <div class="footer_info_logo_mobile">
        <div class="footer_info_logo_first">Travel Trace</div>
        <div class="footer_info_logo_second">отдых в россии</div>
    </div>
    <div class="container footer_container">
        <div class="footer_wrap">
            <div class="footer_info">
                <div class="footer_info_logo footer_info_logo_desktop">
                    <div class="footer_info_logo_first">{{ config.site_name }}</div>
                    <div class="footer_info_logo_second">{{ config.site_description }}</div>
                </div>
                <div class="footer_networks">
                    {% for network in networks %}
                    <a href="{{ network.link }}" class="footer_networks_item">
                        <img src="{{ network.icon.url }}" alt="">
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="footer_right">
                <img src="{% static 'img/footer/made_in_russia.png' %}" alt="">
            </div>
        </div>


        <div class="footer_links">
            <a href="" class="footer_links_link"><span>Разместить свою экскурсию</span></a>
            <a href="" class="footer_links_link"><span>Контакты</span></a>
            <a href="" class="footer_links_link"><span>Пользовательское соглашение</span></a>
            <a href="" class="footer_links_link" id="phone"><span>{{ config.number_phone }}</span> </a>
        </div>

    </div>
</div>
