{% load static %}

<nav class="menu">
    <a href="" class="menu_item">
        <div class="menu_item_map menu_item_icon"></div>
        <div class="menu_item_name">Карта</div>
    </a>
    <a href="" class="menu_item">
        <div class="menu_item_like menu_item_icon"></div>
        <div class="menu_item_name circle">Избранное</div>
    </a>
    <a href="" class="menu_item">
        <div class="menu_item_filter menu_item_icon"></div>
        <div class="menu_item_name">Фильтры</div>
    </a>
</nav>