<nav class="menu">
    <div class="menu_button">

    </div>
    <div class="menu_logo">
        <h2 class="logo">DEEP TRIP</h2>
    </div>
    <div class="menu_items">
        <a class="menu_item">
            <div class="menu_link" href="#">Контакты</div>
        </a>
        <div class="menu_item">
            <a class="menu_link" href="#">Найти экскурсии на карте</a>
        </div>
        <div class="menu_item">
            <a class="menu_link" href="#">Добавить экскурсию</a>
        </div>
    </div>
</nav>