{% load static %}

<nav class="menu">
    <a href="" class="menu_item">
        <img src="{% static 'img/city/map.png' %}" alt="" class="menu_item_icon">
        <div class="menu_item_name">Карта</div>
    </a>
    <a href="" class="menu_item">
        <img src="{% static 'img/city/like.png' %}" alt="" class="menu_item_icon">
        <div class="menu_item_name">Избранное</div>
    </a>
    <a href="" class="menu_item">
        <img src="{% static 'img/city/filter.png' %}" alt="" class="menu_item_icon">
        <div class="menu_item_name">Фильтры</div>
    </a>
</nav>