{% load static %}

<div class="articles">
    {% for article in magazine %}
        <a href="" class="articles_item">
            <div class="articles_item_image">
                <img src="{{ article.image.url }}" alt="">
            </div>
            <div class="articles_item_content">
                <h3 class="articles_item_content_name">{{ article.title }}</h3>
                <div class="articles_item_content_footer">
                    <div class="articles_item_content_footer_date">
                        {{ article.date|date:"F Y г." }}
                    </div>
                    <div class="articles_item_content_footer_view">
                        <img src="{% static 'img/articles/view.png' %}" alt="">
                        {{ article.views }}
                    </div>
                    <div class="articles_item_content_footer_comment">
                        <img src="{% static 'img/articles/comment.png' %}" alt="">
                        {{ article.comments }}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>