<form class="filters">
    <h2>Популярные фильтры</h2>
    <div class="filters_categories">
        {% for category in categories %}
            <label class="filters_category {% if forloop.counter > 6 %} filters_category_none {% endif %}">
                <div class="filters_category_name">{{ category.title }}</div>
                <input type="checkbox">
            </label>
        {% endfor %}
    </div>
    <div class="filters_footer">
        <a href="filter/" class="filters_footer_all"> <span>Все фильтры</span></a>
        <div class="filters_footer_search">
            <span>Найдено 20 экскурсий</span>
            <button>Показать</button>
        </div>
    </div>
</form>