<div class="preview tour_gallery_wrap">
    <div class="tour_gallery preview_gallery owl-carousel owl-theme" id="tour-gallery">
        <div class="image-1 tour_gallery_item">
            <img  src="{{ tour.image.url }}" alt="">
        </div>
        <div class="image-2 tour_gallery_item">
            <img  src="{{ tour.image.url }}" alt="">
        </div>
        <div class="image-3 tour_gallery_item">
            <img  src="{{ tour.image.url }}" alt="">
        </div>
        <div class="image-4 tour_gallery_item">
            <img  src="{{ tour.image.url }}" alt="">
        </div>
        <div class="image-5 tour_gallery_item">
            <img  src="{{ tour.image.url }}" alt="">
        </div>


    </div>
</div>