{% load static %}
<div class="container tour_title_wrap">
    <div class="tour_title">
        <h1>{{ tour.title }}</h1>
        <div class="tour_title_info">
            <div class="tour_title_info_item">
                <div class="tour_title_info_item_img">
                    <img src="{% static 'img/preview/star.png' %}" alt="">
                </div>
                <div class="tour_title_info_item_text">
                    <span class="standard_text_small">
                        {{ tour.rating }}
                    </span>
                    <span class="standard_text_gray">
                        ({{tour.count_comment }})
                    </span>
                </div>
            </div>
            <div class="tour_title_info_item">
                <div class="tour_title_info_item_img">
                    <img src="{% static 'img/tour/ok.png' %}" alt="">
                </div>
                <div class="tour_title_info_item_text">
                    <span class="standard_text_gray">
                        Проверенный гид
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>