<div class="tour_calculate_main">
    <h2 class="tour_calculate_strong">Расчёт стоимости:</h2>
    <div class="tour_calculate_main_choices">
        <div class="tour_calculate_main_item">
            <div class="standard_dropdown" id="test_dropdown">
                <input type="hidden">
                <div class="standard_dropdown_wrap">
                    <div class="standard_dropdown_choice standard_text_strong" id="dropdown_1">
                        Двухчасовая
                    </div>
                    <div class="standard_dropdown_list none" id="dropdown_1_list">
                        <div class="standard_dropdown_list_item" data-choice_id="dropdown_1">
                            Двухчасовая
                        </div>
                        <div class="standard_dropdown_list_item" data-choice_id="dropdown_1">
                            Трехчасовая
                        </div>
                        <div class="standard_dropdown_list_item" data-choice_id="dropdown_1">
                            На всю ночь
                        </div>
                        <div class="standard_dropdown_list_item" data-choice_id="dropdown_1">
                            Только минет
                        </div>
                        <div class="standard_dropdown_list_item" data-choice_id="dropdown_1">
                            Анал
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="tour_calculate_main_price">
        <span class="tour_calculate_strong">1500 ₽</span> <span class="standard_text_gray">на месте</span>
    </div>
</div>
<div class="tour_calculate_buttons">
    <button class="tour_calculate_buttons_booking">Забронировать</button>
    <button class="tour_calculate_buttons_question" id="question">Задать вопрос</button>
</div>