<div class="tour_sidebar">
    <div class="tour_calculate" id="sidebar_calculate">
        <div class="tour_calculate_main">
            <h2 class="tour_calculate_strong">Расчёт стоимости:</h2>
            <div class="tour_calculate_main_choices">
                <div class="tour_calculate_main_item">блок выбора</div>
                <div class="tour_calculate_main_item">блок выбора</div>
                <div class="tour_calculate_main_item">блок выбора</div>
            </div>
            <div class="tour_calculate_main_price">
                <span class="tour_calculate_strong">1500 ₽</span> <span class="standard_text_gray">на месте</span>
            </div>
        </div>
        <div class="tour_calculate_buttons">
            <button class="tour_calculate_buttons_booking">Забронировать</button>
            <button class="tour_calculate_buttons_question" id="question">Задать вопрос</button>
        </div>
    </div>
</div>