{% load static %}

<div class="tour_preview">
    <div class="tour_preview_head">
        <img src="{% static 'img/tmp_add.png' %}" alt="">
    </div>
    <div class="tour_preview_content">
        <h3 class="tour_preview_content_title">Горный квадротур</h3>
        <div class="tour_preview_content_text">Чайные плантации, самшитовая роща, хвойная чаща и горная заводь</div>
        <div class="tour_preview_content_footer">
            <div class="tour_preview_content_footer_price">2500 р за экскурсии</div>
            <div class="tour_preview_content_footer_info">
                <div class="tour_preview_content_footer_info_group"></div>
                <div class="tour_preview_content_footer_info_timer-icon"></div>
                <div class="tour_preview_content_footer_info_time">2 часа 50 минут</div>
            </div>
        </div>
    </div>
</div>