{% load static %}

<div class="preview">
    <div class="preview_gallery owl-carousel owl-theme">
        <img src="{{ preview.image.url }}" alt="">
        <img src="{{ preview.image.url }}" alt="">
        <img src="{{ preview.image.url }}" alt="">
        <img src="{{ preview.image.url }}" alt="">
        <img src="{{ preview.image.url }}" alt="">
    </div>
    <div class="preview_content">
        <div class="preview_content_title">{{ preview.title }}</div>
        <div class="preview_content_description"> {{ preview.description|truncatechars:80 }}</div>
        <div class="preview_content_footer">
            <div class="preview_content_footer_price">
                <span>{{ preview.price }} руб. </span> за квадрцикл
            </div>
            <div class="preview_content_footer_time">
                <img src="{% static 'img/preview/time.png' %}" alt="">
                {{ preview.time }}
            </div>
            <div class="preview_content_footer_rating">
                <img src="{% static 'img/preview/star.png' %}" alt="">
                <span>{{ preview.rating }} </span>({{ preview.count_comment }})
            </div>
        </div>
    </div>
</div>