{% load static %}

<div class="tour_information">

    <div class="tour_information_advantages">
        <div class="tour_information_advantages_item">
            <div class="tour_information_advantages_item_img">
                <img src="{% static 'img/tour/transfer.png' %}" alt="">
            </div>
            <div class="tour_information_advantages_item_text">
                <div class="standard_text_strong">
                    Трансфер предусмотрен
                </div>
                <div class="standard_gray_text">
                    Бесплатно привезём и отвезём обратно
                </div>
            </div>
        </div>
        <div class="tour_information_advantages_item">
            <div class="tour_information_advantages_item_img">
                <img src="{% static 'img/tour/group.png' %}" alt="">
            </div>
            <div class="tour_information_advantages_item_text">
                <div class="standard_text_strong">
                    Индвидуальная
                </div>
                <div class="standard_gray_text">
                    Как твоя девушка
                </div>
            </div>
        </div>
        <div class="tour_information_advantages_item">
            <div class="tour_information_advantages_item_img">
                <img src="{% static 'img/tour/time.png' %}" alt="">
            </div>
            <div class="tour_information_advantages_item_text">
                <div class="standard_text_strong">
                    2 часа
                </div>
                <div class="standard_gray_text">
                    Включая время в очереди
                </div>
            </div>
        </div>
        <div class="tour_information_advantages_item">
            <div class="tour_information_advantages_item_img">
                <img src="{% static 'img/tour/children.png' %}" alt="">
            </div>
            <div class="tour_information_advantages_item_text">
                <div class="standard_text_strong">
                    Можно с детьми
                </div>
                <div class="standard_gray_text">
                    Если выёбываться не будут
                </div>
            </div>
        </div>
    </div>

    <div class="tour_information_description">
        <h2 class="standard_h2">
            Описание экскурсии
        </h2>
        <div class="tour_information_description_text">
            <p>{{ tour.description }}</p>
            <p id="all_text" style="display:none">{{ tour.description }}</p>
            <a id="show_text_button" href="javascript:show_text();">Показать полностью</a>
        </div>

        <div class="tour_information_description_include">
            <h3 class="standard_h3">
                Описание экскурсии
            </h3>
            <ul>
                {% for item in tour.include_list %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="tour_information_description_add">
            <h3 class="standard_h3">
                За дополнительную плату
            </h3>
            <ul>
                {% for item in tour.add_price_list %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="tour_information_video">
        <h2 class="standard_h2">
            Видео
        </h2>
        <div class="tour_information_video_iframe">
            <iframe width="100%" height="100%"
                    src="https://www.youtube.com/embed/nCpjBDCauhA"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

        </div>
    </div>

    <div class="tour_information_review">
        <div class="tour_information_review_header">
            <h2 class="standard_h2">Отзывы</h2>
        </div>

        <div class="tour_information_review_items">
            <div class="tour_information_review_items_item">
                <div class="tour_information_review_items_item_header"></div>
                <div class="tour_information_review_items_text"></div>
            </div>
        </div>
        
        <div class="tour_information_review_footer">
            <a href="/">Ещё отзывы</a>
            <a href="/">Оставить отзыв</a>
        </div>
    </div>

</div>