{% load replace_p %}
{% load static %}

<div class="tour_information">

    <div class="tour_information_advantages">
        {% if tour.advantage1_title %}
        <div class="tour_information_advantages_item">
            <div class="tour_information_advantages_item_img">
                <img src="{% static 'img/tour/transfer.png' %}" alt="">
            </div>
            <div class="tour_information_advantages_item_text">
                <div class="standard_text_strong">
                    {{ tour.advantage1_title }}
                </div>
                <div class="standard_text_gray">
                    {{ tour.advantage1_description }}
                </div>
            </div>
        </div>
        {% endif %}
        {% if tour.advantage2_title %}
        <div class="tour_information_advantages_item">
            <div class="tour_information_advantages_item_img">
                <img src="{% static 'img/tour/group.png' %}" alt="">
            </div>
            <div class="tour_information_advantages_item_text">
                <div class="standard_text_strong">
                    {{ tour.advantage2_title }}
                </div>
                <div class="standard_text_gray">
                    {{ tour.advantage2_description }}
                </div>
            </div>
        </div>
        {% endif %}
        {% if tour.advantage3_title %}
        <div class="tour_information_advantages_item">
            <div class="tour_information_advantages_item_img">
                <img src="{% static 'img/tour/time.png' %}" alt="">
            </div>
            <div class="tour_information_advantages_item_text">
                <div class="standard_text_strong">
                    {{ tour.advantage3_title }}
                </div>
                <div class="standard_text_gray">
                    {{ tour.advantage3_description }}
                </div>
            </div>
        </div>
        {% endif %}
        {% if tour.advantage4_title %}
        <div class="tour_information_advantages_item">
            <div class="tour_information_advantages_item_img">
                <img src="{% static 'img/tour/children.png' %}" alt="">
            </div>
            <div class="tour_information_advantages_item_text">
                <div class="standard_text_strong">
                    {{ tour.advantage4_title }}
                </div>
                <div class="standard_text_gray">
                    {{ tour.advantage4_description }}
                </div>
            </div>
        </div>
        {% endif %}
        {% if tour.advantage5_title %}
        <div class="tour_information_advantages_item">
            <div class="tour_information_advantages_item_img">
                <img src="{% static 'img/tour/card.png' %}" alt="">
            </div>
            <div class="tour_information_advantages_item_text">
                <div class="standard_text_strong">
                    {{ tour.advantage5_title }}
                </div>
                <div class="standard_text_gray">
                    {{ tour.advantage5_description }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="tour_information_description standard_line_top">
        <h2 class="standard_h2">
            Описание экскурсии
        </h2>

        <div class="tour_information_description_text standard_text_simple">
            {% with parts=tour.description|replace_two_parts:3 %}
                <span>
                 {{ parts.first|safe }}
                </span>
                <span id="all_text" class="hidden_text">
                 {{ parts.second|safe }}
                </span>
            {% endwith %}
            <a id="show_text_button" class="standard_text_bold" href="javascript:show_text();">Показать полностью</a>
        </div>

        {% if tour.add_price_list %}
            <div class="tour_information_description_include">
                <h3 class="standard_h3">
                    Включено
                </h3>
                <ul>
                    {% for item in tour.include_list %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if tour.add_price_list %}
            <div class="tour_information_description_add">
                <h3 class="standard_h3">
                    За дополнительную плату
                </h3>
                <ul>
                    {% for item in tour.add_price_list %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    </div>

    <div class="tour_information_video standard_line_top">
        <h2 class="standard_h2">
            Видео
        </h2>
        <div class="tour_information_video_iframe">
            <iframe width="100%" height="100%"
                    src="https://www.youtube.com/embed/nCpjBDCauhA"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>

            </iframe>

        </div>
    </div>

    <div class="tour_information_review standard_line_top">
        <div class="tour_information_review_header">
            <h2 class="standard_h2">Отзывы</h2>

            <div class="tour_title_info_item">
                <div class="tour_title_info_item_img">
                    <img src="{% static 'img/preview/star.png' %}" alt="">
                </div>
                <div class="tour_title_info_item_text">
                    <span class="standard_text_small">
                        {{ tour.rating }}
                    </span>
                    <span class="standard_text_gray">
                        ({{tour.count_comment }})
                    </span>
                </div>
            </div>
        </div>

        <div class="tour_information_review_items">
            {% for comment in comments %}
                {% include 'tours/elements/tour_comment.html' %}
            {% endfor %}
        </div>
        
        <div class="tour_information_review_footer" data-count="0">
            {% if comments_more is True %}
                <div class="standard_text_bold">Ещё отзывы</div>
            {% endif %}
            <div class="standard_text_bold" id="send_comment">Оставить отзыв</div>
        </div>
    </div>

</div>