{% load static %}

<div class="tour_information_review_item">
    <div class="tour_information_review_item_header">
        <div class="tour_information_review_item_header_left">
            <img src="{% static 'img/tour/comment.png' %}" alt="">
        </div>
        <div class="tour_information_review_item_header_right">
            <div class="standard_text_strong">{{ comment.name }}</div>
            <div class="standard_text_gray">{{ comment.date }}</div>
        </div>
    </div>
    <div class="tour_information_review_item_text">{{ comment.content }}</div>
</div>