{% load static %}

<div class="preview tour_gallery_wrap" id="tour-gallery-wrap">
    <div class="tour_gallery preview_gallery owl-carousel owl-theme" id="tour-gallery">

        {% for item in image_items %}
            <div class=" tour_gallery_item
                {% if forloop.counter <= 5 %}
                    image-{{ forloop.counter }}
                {% else %}
                    tour_gallery_item_none
                {% endif %} ">
                    <img  src="{{ item.image.url }}" alt="{{ item.description }}">
            </div>

        {% endfor %}
    </div>
    <button class="tour_gallery_button standard_button" id="all_photo">
        Все фотографии
    </button>
    <div class="gallery_button_close" id="gallery_button_close">
        <img src="{% static 'img/tour/close.png' %}" alt="">
    </div>
    <div class="gallery_open_info" id="gallery_open_info">

    </div>
</div>