{% extends 'base/base.html' %}

{% load static %}

{% block header %}
    {% include 'city/elements/city_header.html' %}
{% endblock %}

{% block content %}
    <div class="towns_wrap">
        {% include 'city/elements/city_cities.html' %}
    </div>

    <div class="container">
        {% include 'city/elements/city_tours.html' %}
        {% include 'city/elements/city_filter.html' %}
    </div>

    {% include 'city/elements/city_articles.html' %}
{% endblock %}

{% block one_page_scripts %}
    <script src="{% static 'scripts/city/towns_slider.js' %}"></script>
    <script src="{% static 'scripts/city/filters.js' %}"></script>
    <script src="{% static 'scripts/city/preview.js' %}"></script>
{% endblock %}

