@font-face {
  font-family: "Source Sans Pro Regular", Sans-Serif, Sans-Serif;
  src: local("Source Sans Pro Regular"), url("../fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "Source Sans Pro SemiBold", Sans-Serif, Sans-Serif;
  src: local("Source Sans Pro SemiBold"), url("../fonts/SourceSansPro-SemiBold.ttf");
}
@font-face {
  font-family: "Source Sans Pro Light", Sans-Serif, Sans-Serif;
  src: local("Source Sans Pro Light"), url("../fonts/SourceSansPro-Light.ttf");
}
@font-face {
  font-family: "Womby", Sans-Serif;
  src: local("wombyrusbydaymarius"), url("../fonts/womby.ttf");
}
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-family: "Source Sans Pro SemiBold", sans-serif;
  margin: 0;
}
body {
  background: #f0f1f5;
}
html {
  font-family: "Source Sans Pro Regular", sans-serif;
  font-size: 16px;
}
.none {
  display: none;
}
.body_pointer * {
  cursor: pointer;
}
.logo {
  font-family: "Womby", sans-serif;
  font-weight: 800;
  color: #fff;
  margin: 0;
  font-size: 1.7rem;
}
.menu {
  background: #4b6b8e;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 7%;
}
@media (max-width: 768px) {
  .menu {
    position: relative;
  }
}
@media (max-width: 992px) {
  .menu {
    padding: 0 0;
  }
}
@media (max-width: 1200px) {
  .menu {
    padding: 0 5%;
  }
}
.menu_button {
  display: none;
  width: 37px;
  height: 21px;
  position: absolute;
  border-bottom: 3px solid white;
  box-sizing: border-box;
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
}
@media (max-width: 768px) {
  .menu_button {
    display: block;
    top: 19.5px;
    left: 18px;
  }
}
.menu_button:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  content: "";
  display: block;
  height: 3px;
  background: #fff;
  transition: all 0.3s;
}
.menu_button:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  content: "";
  display: block;
  height: 3px;
  background: #fff;
  transition: transform 0.3s, width 2s;
}
.menu_button_active {
  border: 0;
  width: 34px;
  height: 34px;
  top: 13px;
}
.menu_button_active:before {
  content: "";
  display: block;
  width: 100%;
  transform: rotate(45deg);
  background: #fff;
  top: 100%;
  margin-top: -55%;
  left: 0;
  margin-left: 0%;
}
.menu_button_active:after {
  content: "";
  display: block;
  width: 100%;
  transform: rotate(-45deg);
  background: #fff;
  top: 100%;
  margin-top: -55%;
  left: 0;
  margin-left: 0;
}
.menu_logo {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .menu_logo {
    width: 100%;
    justify-content: center;
  }
}
.menu_items {
  display: flex;
}
@media (max-width: 768px) {
  .menu_items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #4b6b8e;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
  }
}
.menu_item {
  display: flex;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
  transition: 0.2s;
}
.menu_item:hover {
  background: #597a9d;
}
@media (max-width: 768px) {
  .menu_item {
    padding: 10px 20px;
  }
}
.menu_link {
  color: #fff;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 86%;
}
@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .container {
    width: 100%;
  }
}
.tour_block {
  background: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  margin-bottom: 25px;
}
.tour_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.tour_head_bread_crumbs {
  vertical-align: center;
}
.tour_head_bread_crumbs a {
  text-decoration: none;
  font-family: "Source Sans Pro Regular", Sans-Serif;
  color: #333333;
}
.tour_head_like {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.tour_head_like img {
  width: 100%;
}
.tour_box {
  display: flex;
}
.tour_main {
  width: 75%;
  margin-right: 40px;
}
.tour_title {
  margin-bottom: 10px;
}
.tour_title_text {
  margin-bottom: 10px;
  font-family: "Source Sans Pro SemiBold", Sans-Serif;
  color: #333333;
}
.tour_title_stars {
  display: flex;
  align-items: center;
}
.tour_title_stars_text {
  margin-left: 15px;
  font-family: "Source Sans Pro SemiBold", Sans-Serif;
  color: #666666;
}
.tour_gallery_main {
  padding-right: 20px;
  width: 100%;
  margin-bottom: 15px;
}
.tour_gallery_main img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.tour_gallery_list {
  display: flex;
  overflow-x: auto;
  position: absolute;
  right: -30px;
  padding: 0 30px 0 0;
  width: 100%;
  height: 110px;
  overflow-y: scroll;
}
.tour_gallery_list_wrapper {
  position: relative;
  width: 100%;
  height: 90px;
  overflow: hidden;
  margin-bottom: 10px;
}
.tour_gallery_list_item {
  height: 100%;
  width: 160px;
  margin-right: 15px;
}
.tour_gallery_list_item img {
  object-fit: cover;
  width: 160px;
  height: 90px;
}
.tour_comment {
  margin: 10px 0;
  padding: 10px 0;
}
.tour_comment_head {
  display: flex;
  justify-content: space-between;
}
.tour_comment_photo {
  width: 60px;
}
.tour_comment_photo img {
  width: 100%;
}
.tour_comment_name {
  font-family: "Source Sans Pro SemiBold", Sans-Serif;
}
.tour_comment_date {
  font-family: "Source Sans Pro Light", Sans-Serif;
  padding-bottom: 10px;
}
.tour_comment_text {
  font-family: "Source Sans Pro Light", Sans-Serif;
}
.tour_comment_middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}
.tour_sidebar {
  width: 25%;
}
.tour_sidebar_block {
  border-radius: 10px;
  padding: 15px 15px 20px 15px;
  margin-bottom: 25px;
}
.tour_sidebar_information {
  color: #fff;
  background-image: url("../img/bg_maininfo.png");
}
.tour_sidebar_information h3 {
  font-family: "Source Sans Pro SemiBold", Sans-Serif;
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.tour_sidebar_information_first {
  width: 50%;
  font-family: "Source Sans Pro Light", Sans-Serif;
}
.tour_sidebar_information_second {
  width: 50%;
  font-family: "Source Sans Pro Regular", Sans-Serif;
}
.tour_sidebar_calculate {
  background: #fff;
}
.tour_sidebar_calculate_total {
  font-family: "Source Sans Pro Light", Sans-Serif;
  margin-bottom: 10px;
  font-size: 1rem;
}
.tour_sidebar_calculate_number {
  font-family: "Source Sans Pro SemiBold", Sans-Serif;
}
.tour_sidebar_calculate_button {
  background: #4b6b8e;
  border-radius: 10px;
  height: 35px;
  color: #fff;
  outline: none;
  border: none;
  width: 70%;
}
.tour_sidebar_calculate_form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.tour_sidebar_calculate_form_select {
  font-family: "Source Sans Pro Regular", Sans-Serif;
  font-size: 1rem;
  border-radius: 10px;
  height: 35px;
  margin-bottom: 10px;
  border-color: #cecece;
  outline: none;
}
.tour_sidebar_calculate_form_select option {
  background: #fbfbfb;
  border-radius: 10px;
}
.tour_sidebar_calculate_form_select option:hover {
  background: #fbfbfb;
}
.rating-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
}
.rating-input {
  position: absolute;
  left: 0;
  top: -50px;
}
.rating-star:hover,
.rating-star:hover ~ .rating-star {
  background-position: 0 0;
}
.rating-wrapper:hover .rating-star:hover,
.rating-wrapper:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
  background-position: 0 0;
}
.rating-star,
.rating-wrapper:hover .rating-star {
  float: right;
  display: block;
  width: 18px;
  height: 16px;
  background: url('../img/stars.png') 0 -16px;
  margin-right: 2px;
}
@media screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .responsive-ad {
    display: none;
    text-align: center;
  }
  .responsive-ad-device {
    display: block;
  }
}
@media screen and (min-device-width: 960px) {
  .responsive-ad-device {
    display: none;
  }
  .responsive-ad {
    display: block;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */