@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Medium.eot');
  src: local('HelveticaNeueCyr-Medium'), url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Heavy.eot');
  src: local('HelveticaNeueCyr-Heavy'), url('../fonts/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Heavy.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-HeavyItalic.eot');
  src: local('HelveticaNeueCyr-HeavyItalic'), url('../fonts/HelveticaNeueCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-HeavyItalic.woff') format('woff'), url('../fonts/HelveticaNeueCyr-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Black.eot');
  src: local('../fonts/HelveticaNeueCyr-Black'), url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-UltraLightItalic.eot');
  src: local('HelveticaNeueCyr-UltraLightItalic'), url('../fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-UltraLightItalic.woff') format('woff'), url('../fonts/HelveticaNeueCyr-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-BlackItalic.eot');
  src: local('HelveticaNeueCyr-BlackItalic'), url('../fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-BlackItalic.woff') format('woff'), url('../fonts/HelveticaNeueCyr-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-ThinItalic.eot');
  src: local('HelveticaNeueCyr-ThinItalic'), url('../fonts/HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-ThinItalic.woff') format('woff'), url('../fonts/HelveticaNeueCyr-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-MediumItalic.eot');
  src: local('HelveticaNeueCyr-MediumItalic'), url('../fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-MediumItalic.woff') format('woff'), url('../fonts/HelveticaNeueCyr-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-LightItalic.eot');
  src: local('HelveticaNeueCyr-LightItalic'), url('../fonts/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-LightItalic.woff') format('woff'), url('../fonts/HelveticaNeueCyr-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-UltraLight.eot');
  src: local('HelveticaNeueCyr-UltraLight'), url('../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'), url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-BoldItalic.eot');
  src: local('HelveticaNeueCyr-BoldItalic'), url('../fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-BoldItalic.woff') format('woff'), url('../fonts/HelveticaNeueCyr-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Italic.eot');
  src: local('HelveticaNeueCyr-Italic'), url('../fonts/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Italic.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot');
  src: local('HelveticaNeueCyr-Roman'), url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot');
  src: local('HelveticaNeueCyr-Bold'), url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Light.eot');
  src: local('HelveticaNeueCyr-Light'), url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Thin.eot');
  src: local('HelveticaNeueCyr-Thin'), url('../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}
html,
body,
a,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
button {
  font-family: 'HelveticaNeueCyr', sans-serif;
  color: #333333;
}
img {
  width: 100%;
}
.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 10;
  height: 60px;
}
.menu_item {
  text-decoration: none;
  margin: 10px 80px;
  text-align: center;
  font-weight: 500;
}
@media (max-width: 768px) {
  .menu_item {
    margin: 10px 40px;
  }
}
@media (max-width: 576px) {
  .menu_item {
    margin: 10px 20px;
  }
}
.menu_item img {
  width: 25px;
}
.menu_item_name {
  font-size: 0.7rem;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 1500px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 576px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.header {
  height: 65vh;
  color: #ffffff;
}
.header_info {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.header_info_logo_first {
  font-weight: 900;
  font-style: normal;
  font-size: 1.07rem;
  color: #ffffff;
}
.header_info_logo_second {
  font-weight: 500;
  font-style: normal;
  font-size: 0.535rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #ffffff;
}
.header_info_links {
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}
.header_info_links a {
  margin: 0 10px;
  padding-bottom: 10px;
  color: #ffffff;
}
.header_info_links a:hover {
  opacity: 0.75;
}
.header_info_links_active {
  position: relative;
  color: #ffffff;
}
.header_info_links_active:hover {
  opacity: 1!important;
}
.header_info_links_active:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  content: "";
  width: 24px;
  margin-left: -12px;
  border-radius: 1px;
  background: #ffffff;
  z-index: 2;
}
.header_info_place {
  color: #ffffff;
}
@media (max-width: 768px) {
  .header_info_place {
    display: none;
  }
}
.header_title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 50px;
  color: #ffffff;
}
.header_subtitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  color: #ffffff;
}
.header_button {
  display: block;
  width: fit-content;
  background: #ffffff;
  outline: none;
  border: none;
  padding: 12px 30px;
  font-size: 1rem;
  border-radius: 20px;
  margin-top: 40px;
  font-weight: bold;
}
.tours_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tours_item {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .tours_item {
    width: 47%;
  }
}
@media (max-width: 768px) {
  .tours_item {
    width: 100%;
  }
}
.tours_more {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
.tours_more button {
  border: none;
  outline: none;
  border-radius: 20px;
  background: #ffffff;
  color: #333333;
  font-size: 0.9rem;
  font-weight: bold;
  box-shadow: 0 0 2px 2px rgba(1, 1, 1, 0.1);
  padding: 12px 30px;
}
.preview {
  position: relative;
}
.preview_like {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 20;
  width: 7%;
  padding-bottom: 7%;
  cursor: pointer;
  background-image: url("../img/preview/like.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.preview .liked {
  background-image: url("../img/preview/like-active.png");
}
.preview .owl-stage-outer {
  border-radius: 15px !important;
}
.preview_gallery {
  position: relative;
}
.preview_gallery:hover .owl-nav {
  display: block;
}
@media (max-width: 768px) {
  .preview_gallery:hover .owl-nav {
    display: none;
  }
}
.preview_content {
  display: block;
}
.preview_content_title {
  font-weight: 500;
  font-size: 1.07rem;
  margin: 10px 0 8px 0;
}
.preview_content_description {
  font-weight: 300;
  margin-bottom: 10px;
  color: #666666;
}
.preview_content_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.preview_content_footer_price {
  color: #999999;
  font-weight: normal;
  font-size: 0.9rem;
}
.preview_content_footer_price span {
  font-weight: bold;
  color: #333333;
  font-size: 1.25rem;
}
.preview_content_footer_time {
  color: #999999;
  font-weight: normal;
  font-size: 0.9rem;
}
.preview_content_footer_time img {
  width: 15px;
}
.preview_content_footer_rating {
  color: #999999;
  font-weight: normal;
}
.preview_content_footer_rating span {
  font-size: 0.9rem;
  color: #333333;
}
.preview_content_footer_rating img {
  width: 15px;
}
.preview .owl-stage-outer {
  position: relative;
}
.preview .owl-dots {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 10px;
}
.preview .owl-dot {
  outline: none;
}
.preview .owl-dot span {
  background: rgba(238, 237, 222, 0.8) !important;
  width: 6px !important;
  height: 6px !important;
  margin: 5px 2px !important;
}
.preview .owl-dot.active span {
  background: #ffffff !important;
}
.preview .owl-nav {
  position: unset;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}
.preview .owl-nav button {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%!important;
  outline: none;
}
.preview .owl-nav span {
  outline: none;
}
.preview .owl-nav .owl-prev {
  position: absolute !important;
  top: calc(50% - 15px);
  left: 10px;
  background-image: url("../img/preview/prev.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.preview .owl-nav .owl-prev span {
  font-size: 0;
}
.preview .owl-nav .owl-next {
  position: absolute !important;
  top: calc(50% - 20px);
  right: 10px;
  background-image: url("../img/preview/next.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.preview .owl-nav .owl-next span {
  font-size: 0;
}
.search {
  background: #8e94a6;
  height: 100%;
  border-radius: 15px;
  position: relative;
}
@media (max-width: 768px) {
  .search {
    height: 300px;
  }
}
.search h3 {
  font-size: 2.3rem;
  margin: 0;
  padding-top: 30px;
  padding-left: 20px;
  width: 1px;
  color: #ffffff;
}
.search a {
  position: absolute;
  bottom: 40px;
  left: 20px;
  background: #ffffff;
  color: #333333;
  outline: none;
  font-size: 0.9rem;
  font-weight: bold;
  border: 0;
  padding: 12px 30px;
  border-radius: 20px;
  cursor: pointer;
}
.towns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}
.towns_item {
  display: flex;
  margin-bottom: 20px;
}
.towns_item_img {
  width: 70px;
  height: 70px;
  border-radius: 15px;
}
.towns_item_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}
.towns_item_title {
  font-weight: 500;
  margin-bottom: 7px;
}
.towns_item_count {
  font-size: 0.9rem;
  color: #666666;
}
.towns_item_disable {
  color: #999999;
}
.filters {
  margin: 30px 0;
}
.filters h2 {
  font-weight: 500;
  font-size: 1.25rem;
}
.filters_categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.filters_category {
  width: 30%;
  display: block;
  letter-spacing: -1ex;
  margin: 15px 0;
  cursor: pointer;
}
@media (max-width: 768px) {
  .filters_category {
    width: 100%;
    margin: 10px 0;
  }
}
.filters_category_none {
  display: none;
}
.filters_category_name {
  font-weight: normal;
  margin-top: 5px;
  margin-right: -10%;
  width: 94%;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  letter-spacing: normal;
}
.filters_category_name:after {
  content: '';
  display: inline-block;
  width: 99%;
  margin: 0 -99% 0 3px;
  vertical-align: baseline;
  border-bottom: 2px solid #000;
  border-image: url("../img/city/dots.png") 0 0 9 0 repeat;
}
@media (max-width: 768px) {
  .filters_category_name:after {
    display: none;
  }
}
.filters_category input[type='checkbox'] {
  display: inline-block;
  letter-spacing: normal;
  padding-left: 3px;
  margin-left: 11%;
  vertical-align: bottom;
  background: #ffffff;
  width: 0px;
  height: 20px;
  border: none;
  position: relative;
  cursor: pointer;
}
.filters_category input[type='checkbox']:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  background-color: #ffffff;
  transition: 0.2s;
}
.filters_category input[type='checkbox']:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #333333;
}
.filters_category input[type='checkbox']:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 7px;
}
.filters_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.filters_footer_all {
  display: flex;
  align-items: center;
}
.filters_footer_all span {
  border-bottom: 1px solid #333333;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
}
.filters_footer_search {
  display: flex;
  align-items: center;
}
.filters_footer_search span {
  font-weight: normal;
  color: #999999;
  font-size: 0.9rem;
}
.filters_footer_search button {
  background: #333333;
  color: #ffffff;
  padding: 10px 30px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin-left: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}
.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 0 50px 0;
}
.articles_item {
  width: 30%;
}
@media (max-width: 768px) {
  .articles_item {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.articles_item_image {
  position: relative;
}
.articles_item_image::after {
  display: block;
  content: "";
  padding-bottom: 44.67%;
}
.articles_item_image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.articles_item_content_name {
  font-size: 1.15rem;
  font-weight: 500;
  margin: 8px 0 6px 0;
}
.articles_item_content_footer {
  display: flex;
}
.articles_item_content_footer div {
  display: flex;
  color: #999999;
  margin-right: 25px;
  align-items: center;
}
.articles_item_content_footer_view img {
  width: 22px;
  height: 12px;
  margin-right: 5px;
}
.articles_item_content_footer_comment img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.footer {
  background: #f9f9f9;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .footer_container {
    display: flex;
    flex-direction: column-reverse;
  }
}
.footer_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
@media (max-width: 768px) {
  .footer_wrap {
    justify-content: space-around;
  }
}
.footer_right img {
  width: 100px;
}
.footer_info {
  display: flex;
}
.footer_info_logo_first {
  font-weight: 900;
  font-style: normal;
  font-size: 1.07rem;
}
.footer_info_logo_second {
  font-weight: 500;
  font-style: normal;
  font-size: 0.535rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
.footer_info_logo_mobile {
  display: none;
  padding: 30px 0;
  width: 100%;
  text-align: center;
}
@media (max-width: 768px) {
  .footer_info_logo_mobile {
    display: block;
  }
}
@media (max-width: 768px) {
  .footer_info_logo_desktop {
    display: none;
  }
}
.footer_networks {
  display: flex;
  align-items: center;
}
.footer_networks_item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
@media (max-width: 576px) {
  .footer_networks_item {
    margin: 0 7px;
  }
}
.footer_networks_item img {
  width: 25px;
}
.footer_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 30px 0;
}
.footer_links_link {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .footer_links_link {
    width: 100%;
    text-align: center;
  }
}
.footer_links #phone {
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */