{% load static %}

<div class="filter_prices container">
    <div class="filter_prices_cities">
        <div class="standard_text_strong">
           Город
        </div>
        <div class="standard_text_gray filter_prices_cities_text">
           Город или район для поиска экскурсии
        </div>
        <div class="standard_dropdown">
            <div class="standard_dropdown_wrap">
                <div class="standard_dropdown_choice standard_text_strong"
                     id="dropdown_cities"
                     data-type="{{ key }}" data-price="{{city.slug}}">
                    {{city.name}}
                </div>
                <div class="standard_dropdown_list none" id="dropdown_cities_list">
                    {% for city in cities %}
                        <div class="standard_dropdown_list_item"
                             data-choice_id="dropdown_cities"
                             data-price="{{ city.slug }}">
                            {{ city.name }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="filter_prices_range">
        <div class="standard_text_strong">
           Цена за экскурсию
        </div>
        <div id="slider-range"></div>
        <div class="filter_prices_range_results">
            <div class="filter_prices_range_item">
                <div class="standard_text_gray">
                    Мин. цена
                </div>
                <div class="standard_h2">
                    <span type="text" id="min" data-min="{{ min_price }}" readonly>{{ min_price }}</span> руб.
                </div>
            </div>
            <div class="filter_prices_range_item">
                <div class="standard_text_gray">
                    Макс. цена
                </div>
                <div class="standard_h2">
                    <span type="text" id="max" data-max="{{ max_price }}" readonly>{{ max_price }}</span> руб.
                </div>
            </div>
        </div>
    </div>

    <div class="filter_prices_prepay">
        <div class="standard_text_strong">
           Без предоплаты
        </div>
        <div class="filter_prices_prepay_table filter_prices_cities_text">
            <div class="standard_text_gray">
               Только экскурсии не требующие внесения предоплаты онлайн
            </div>
            <div class="filter_prices_prepay_table_choice">
                <div id="ok" class="standard_ok">
                    <div class="standard_ok_slider "><img src="{% static 'img/filter/ok.png' %}" alt=""> </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h2 class="standard_text_strong filter_format container">
    Формат экскурсии
</h2>
