<div class="filter_prices container">
    <div class="filter_prices_range">
        <div class="standard_text_strong">
           Цена за экскурсию
        </div>
        <div id="slider-range"></div>
        <div class="filter_prices_range_results">
            <div class="filter_prices_range_item">
                <div class="standard_text_gray">
                    Мин. цена
                </div>
                <div class="standard_h2">
                    <span type="text" id="min" readonly>500</span> руб.
                </div>
            </div>
            <div class="filter_prices_range_item">
                <div class="standard_text_gray">
                    Макс. цена
                </div>
                <div class="standard_h2">
                    <span type="text" id="max" readonly>1500</span> руб.
                </div>
            </div>
        </div>
    </div>
    <div class="filter_prices_prepay"></div>
</div>