<div class="filter_menu menu">
    <div class="filter_menu_content container">
        <a class="filter_menu_content_drop" id="reset_menu">
            Сбросить
        </a>
        <div class="filter_menu_content_view">
            <div class="filter_menu_content_view_count standard_text_gray" id="count">Отображены все экскурсии</div>
            <button id="show" class="filter_menu_content_view_button standard_button_dark standard_button blocked">Показать</button>
        </div>
    </div>
</div>